@font-face {
  font-family: NorseBold;
  src: url("Norse-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

#side-hero {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#logo {
  margin: 200px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 0;
}

#logo img {
  height: 120px;
}

figcaption {
  color: white;
  font-size: 90px;
  text-transform: uppercase;
  font-family: NorseBold;
}

#side-hero p {
  color: white;
  margin-top: auto;
  text-align: center;
  font-size: 14px;
}

main {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
}


header {
  font-size: 36px;
  font-weight: bold;
  padding: 80px 200px 50px 50px;
}

form {
  background-color: white;
  box-shadow: 0px 4px 6px 0px #DDD;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
}

form p {
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
}

.form-controls {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputPair {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 10px 30px 10px 50px;
}

input {
  height: 30px;
  width: 250px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  outline-style: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px 1px #6B77F9;
}

input:valid:not(.error) {
  outline-style: none;
  border: 1px solid green;
  box-shadow: 0 0 5px 1px green;
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}

#confirm {
  padding: 50px;
}

#confirm button {
  padding: 10px 50px;
  font-size: 20px;
  background-color: #596d48;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

#confirm a{
  color: #596d48;
  text-decoration: none;
  font-size: 20px;
}


